# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/key.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
